<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="DefaultConnection"
         connectionString="
		 Data Source=DESKTOP-OKGA20J\SQLEXPRESS;
		 Integrated Security=True;
		 Connect Timeout=30;
		 Encrypt=True;
		 Trust Server Certificate=True;
		 Application Intent=ReadWrite;
		 Multi Subnet Failover=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>